<input type="text" [(ngModel)]="input">

<button (click)="onClick()">change</button>

<!-- <div *ngFor="let emp of employeeList">
  <div>{{emp.id}}  
    {{emp.name | uppercase}}</div>
</div> -->

<div *ngFor="let emp of employeeList | employeeFilter:input">
  <div>{{emp.id}}  {{emp.name}}</div>
</div>

<div>***********************For ChangeDetectionStrategy</div>

<button (click)="createNew()">Create new</button>

<app-child [dateFromParent]="dateTo" [dateArrayFromParent]="dateArray"></app-child>
